.App {
  text-align: center;
}

/* SIDENAV  *******************************************************/

.sidenav-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: auto;
  height: 100vh;
  min-width: 10rem;
  max-width: 12rem;
  background-color: lightgrey;
}

.sidenav-icon {
  color: blue;
  margin: 1rem;
}

.sidenav-icon h3 {
  margin-top: 0;
}

.sidenav-menu ul {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 0;
  text-align: left;
}

.sidenav-menu li {
  list-style: none;
  margin-bottom: 1rem;
}